<!doctype html>
<html lang="en" ng-app="testingAngularApp">
  <head>
    <title>Testing Angular</title>
    <!-- <script src="bower_components/angular/jquery.js"></script> -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        .error {
          color: red;
        }
    </style>
  </head>
  <body ng-controller="testingAngularCtrl">
    <header><h1>{{title}}</h1></header>

    <form name="destinationForm" ng-submit="addDestination()">
      City: <input name="city" type="text" ng-model="newDestination.city" />
      Country: <input name="country" type="text" ng-model="newDestination.country" /> <br />
      <input type="submit" value="Add" />
    </form>
    <section>
      <h2>Your Trip</h2>
      <p ng-show="errorMsg" class="error"><b>{{errorMsg}}</b></p>
      <div ng-repeat="destination in destinations">
        <div destination-directive destination="destination" api-key="apiKey" on-remove="remove()"></div>
      </div>
    </section>
    <section>
      <h2>Warm Destinations</h2>
      <div ng-repeat="destination in destinations | warmestDestinations: 10">
        <span ng-if="destination.climate.weather">{{destination.city}}, {{destination.country}}</span>
      </div>
    </section>

    <!-- <card color="{{color}}">
        <h3>Card number 1</h3>
        <p>We like our first card</p>
        <p>Simple but useful</p>
    </card> -->

    <!-- CUSTOM DIRECTIVES -->
    <!-- <div class="col-md-6">
      <jumbotron></jumbotron>
    </div> -->

    <!-- Q SERVICE -->   
    

  </body>
</html>
