<!doctype html>
<html ng-app="practice">
<head>
    <title>Promises</title>
    <style>
        hr {
            border: solid rgb(233, 233, 233) 1px;
        }
    </style>
</head>
    <body ng-controller="weatherController">
        <h3>Weather for these Countries</h3>
        <p>
            <select name="selectCities" ng-model="selectCities" ng-change="getDestinationWeather()">
                <option value="" selected>Please select location</option>
                <option ng-repeat="dest in destinations" value="{{dest.city}},{{dest.country}}">
                    {{dest.city}}, {{dest.country}}
                </option>
            </select>
        </p>
        <p>
            <h4>Weather Information</h4>
            <h3 ng-if="weather">{{weather}}, {{temp}}</h3>
        </p>
        <br>
        <hr>
        
        <script src="../scripts/lodash.js"></script>
        <script src="../scripts/angular.js"></script>
        <script src="../scripts/app.js"></script>
        <script src="js/weatherService.js"></script>
        <script src="js/weatherController.js"></script>
    </body>
</html>
