/* 
.box-container {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  box-sizing: padding-box !important;
  padding: 30px;
}

.box-container__box {
  background: rgb(114, 114, 114);
  width: 250px;
  height: 250px;
} */

.sidebar-nav {
  position: relative;
  top: 0;
  width: 250px;
  margin: 0;
  padding-left: 15px;
  list-style: none;
  background: black;
  height: 100vh;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
} 

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.container-fluid, .col-md-3, .col-md-9 {
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.addFields {
  display: flex;
}

.addFields select{
  width: 40%;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}



@media (min-width: 992px) {
    .col-md-3 {
        width: 22%;
    }
}

